# Eclipse 관련 폴더 및 파일 무시   
.classpath
.project
.settings/
eclipse/
portfolio/
track005_jsp/tomcat9.0/
track005_jsp/Servers/
track007_api/Servers/
track008_1_nodeReact2026/back/node_modules/
track008_1_nodeReact2026/back/.env 
track008_1_nodeReact2026/front/node_modules/
track008_1_nodeReact2026/front/.next/ 
track008_2_bootReact2026/*.zip
application-oauth.properties

track008_2_bootReact-강의교안/
★강의교안/
※참고파일/

project/
/track007_api-2/  
node_modules/
.env 
.next/


# 빌드 결과물 무시
/bin/
/build/

# IDE 관련
.idea/
*.iml

# OS별 임시파일
*.DS_Store
Thumbs.db

./track000-OT.txt