# Eclipse 관련 폴더 및 파일 무시   
.classpath
.project
.settings/
eclipse/
portfolio/
track005_jsp/tomcat9.0/
track005_jsp/Servers/
/track007_boot_api/boot1/src/resources/application-oauth.properties
track007_boot_api/boot1/src/resources/*.zip
track007_boot_api/Servers/
track007_api/Servers/

project/
/track007_api-2/  


# 빌드 결과물 무시
/bin/
/build/

# IDE 관련
.idea/
*.iml

# OS별 임시파일
*.DS_Store
Thumbs.db